@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html,
body {
  width: 100%;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  font-family: "Instrumental Serif", sans-serif;
}
@utility page-container{
  @apply w-full py-10
}

@utility content-container{
  @apply w-[90%] lg:w-[80%] mx-auto
}

.font-mono{
  font-family:monospace
}
.font-roboto{
  font-family: "Roboto", sans-serif;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}
@utility col-end {
  @apply flex flex-col justify-center items-end;
}

@utility logo {
  @apply text-3xl font-bold text-orange-600
}